body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 40px;
    text-align: center;
}
.orange-color{
    color: orangered;
}
.flaxible-contaiter{
    display: flex;
}
.half-width{
    width: 40%;
    padding-left: 10%;
}
.half-width img{
    width: 80%;
    padding-top: 10%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 28px;
}
.Mission-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    box-shadow: 10px 10px 50px saddlebrown;
}
#web-deve{
    border-left: 8px solid;
    border-image: linear-gradient(blue,green);
    border-image-slice: 2;
}
.Hati{
    background-image: url(r-1.png);
    background-size: 100%;
    background-position: 5%;
    background-color: olive;
}
.Ghora{
    background-image: url(r-3.png);
    background-size: 100%;
    background-position: 5%;
    background-color: goldenrod;
}
.Goru{
    background-image: url(r-2.png);
    background-size: 100%;
    background-position: 5%;
    background-color: green;
}